.app {
  font-family: 'Courgette', cursive;
  text-align: center;
}

.backHome {
  background: url("assets/img/floor1.jpg") no-repeat;
  background-size: 100% 100%;
  height: 700px;
  padding-top: 1px;
  overflow: hidden;
}

.hBox {
  width: 400px;
  height: 400px;
  background: pink;
  border: 5px solid white;
  border-radius: 40%;
  margin: 150px auto 150px auto;
  animation: rotate 5s infinite linear;
}

.head1 {
  font-family: 'Courgette', cursive;
  font-size: 60px;
  text-decoration: underline red;
  animation: rotate2 5s infinite linear;
}

.hpad {
  padding: 51px 10px;
}

.steps {
  background: url("assets/img/steps2.png");
  background-size: auto 100%;
  height: 50px;
}

.marg {
  background: pink;
  padding: 30px 0;
}

.marg2 {
  background: pink;
  width: 200px;
  margin: 0 auto;
  padding: 30px 0;
}
.marg3 {
  margin-top: 90px;
  overflow: hidden;
}

.pad {
  padding-top: 20px;
}

.disp {
  display: flex;
  flex-wrap: wrap; 
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.profile {
  height: 400px;
  width: 400px;
  background: url("./assets/img/bio2.jpg");
  background-size: 100% 100%;
  border: 5px solid white;
  border-radius: 200px;
  margin: 10px 20px;
}

.dancer1 {
  position: absolute;
  height: 100px;
  width: 98px;
  margin-top: -80px;
  animation: dance1 9s infinite linear;
  z-index: 5;
}

.dancer2 {
  position: absolute;
  height: 100px;
  width: 91px;
  animation: dance2 11s infinite linear; 
  z-index: 5;
}

.spotlight1 {
  width: 98px;
  height: 20px;
  background: white;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 3px 3px 5px whitesmoke,
  -3px 3px 5px whitesmoke,
  3px -3px 5px whitesmoke,
  -3px -3px 5px whitesmoke;
  margin: 10px 0 0 210px;
  animation: spotlight1 9s infinite linear;
}

.spotlight2 {
  width: 91px;
  height: 20px;
  background: white;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 3px 3px 5px whitesmoke,
  -3px 3px 5px whitesmoke,
  3px -3px 5px whitesmoke,
  -3px -3px 5px whitesmoke;
  margin: 95px 0 10px 210px;
  animation: spotlight2 11s infinite linear;
}

.book {
  font-size: 35px;
  font-weight: bold;
  padding: 10px 15px;
  border: 3px solid purple;
  border-radius: 20px;
  box-shadow: inset 2px 2px 5px purple,
  inset -2px 2px 5px purple,
  inset 2px -2px 5px purple,
  inset -2px -2px 5px purple;
  margin: 10px;
  animation: frame 3s infinite;
}

.adr {
  margin-top: 30px;
  font-size: 25px;
  font-weight: bold;
}

.bord {
  width: 400px;
  border-top: 2px solid purple;
  margin: 30px auto 0 auto;
}

.und {
  text-decoration: underline;
}

.backCar {
  background: pink;
  padding: 10px 0 40px 0;
}
.picCar {
  width: 75%;
  margin: 0px auto;
}

.banCar {
  width: 160px;
  border: 2px solid white;
  border-radius: 5px;
  background: pink;
  color: black;
  margin: 0 auto;
  padding: 2px 0;
}

.imgSize {
  height: 30%;
  width: 100%;
}

.item {
  border-radius: 25px;
}

.red {
  color: red;
  font-style: italic;
  font-size: 35px;
}

@media (min-width: 451px) and (max-width: 700px) {
  .backHome {
    height: 500px;
  }
  .hBox {
    height: 300px;
    width: 300px;
    margin: 100px auto 100px auto;
  }
  .head1 {
    font-size: 40px;
  }
  .hpad {
    padding-top: 47px;
  }
}

@media (max-width: 450px) {
  .backHome {
    height: 400px;
  }
  .head1 {
    font-size: 40px;
  }
  .hBox {
    height: 300px;
    width: 300px;
    margin: 45px auto;
  }
  .hpad {
    padding: 49px 10px;
  }
  .profile {
    height: 290px;
    width: 290px;
  }
  .banCar {
    width: 100px;
    font-size: 15px;
  }
  .bord {
    width: 100%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes dance1 {
  0% {
    transform: translateX(50%) rotateY(180deg) ;
  }
  50% {
    transform: translateX(-150%) rotateY(0) ;
  }
  100% {
    transform: translateX(50%) rotateY(180deg) ;
  }
}

@keyframes spotlight1 {
  0% {
    transform: translateX(50%);
  }
  50% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(50%);
  }
}

@keyframes dance2 {
  0% {
    transform: translateX(-150%) rotateY(0) ;
  }
  50% {
    transform: translateX(50%) rotateY(360deg) ;
  }
  100% {
    transform: translateX(-150%) rotateY(0) ;
  }
}

@keyframes spotlight2 {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-150%);
  }
}

@keyframes frame {
  0% {
    border: 3px solid purple;
  }
  50% {
    border: 3px solid pink;
    box-shadow: inset 2px 2px 5px pink,
    inset -2px 2px 5px pink,
    inset 2px -2px 5px pink,
    inset -2px -2px 5px pink;
  }
  100% {
    border: 3px solid purple;
  }
}